* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
}

body {
    background: linear-gradient(90deg, rgb(135, 206, 235), rgb(240, 204, 150));
}

header {
    height: 15vh;
    display: flex;
    /*垂直置中*/
    justify-content: center;
    /*水平置中*/
    align-items: center;

    h1 {
        color: rgb(56, 72, 78);
        font-size: 3rem;
    }
}

form {
    display: flex;
    justify-content: center;
    align-items: center;

    input,
    button {
        font-size: 1.25rem;
        border: none;
        border-radius: 25px;
        padding: 0.25rem 0.25rem;
        margin: 0 0.2rem;
    }

    input[type="number"] {
        width: 50px;
        text-align: center;
    }

    /*45~55行為消除form內type=number的上下箭頭*/
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }

    button {
        /*cursor屬性可以指定當滑鼠指標指向哪個物件時，顯示不同的游標*/
        cursor: pointer;
        background-color: rgba(157, 199, 141, 0.5);
        color: rgb(254, 254, 254);
    }
}

div.sort {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;

    button {
        font-size: 1.25rem;
        border: none;
        border-radius: 25px;
        cursor: pointer;
        background-color: rgba(157, 199, 141, 0.5);
        color: rgb(254, 254, 254);
    }
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;

    div.todo {
        width: 30vw;
        display: flex;
        align-items: flex-end;
        margin: 0.2rem 0;

        p {
            background-color: aliceblue;
            color: black;
            font-size: 1.25rem;
            padding: 0.5rem;
        }

        p.todo-text {
            text-align: center;
            width: 50%;
        }

        p.todo-time {
            text-align: end;
            width: 20%;
        }

        button {
            padding: 0.5rem;
            font-size: 1.25rem;
            cursor: pointer;
            border: none;
            color: white;
        }

        button.complate {
            background-color: rgba(158, 250, 122, 0.8);

            /*避免js的events點擊button時會發生誤點到icon而無法觸發event，因此使用pointer-events使其無法成為event target*/
            i {
                pointer-events: none;
            }
        }

        button.trash {
            background-color: rgba(241, 112, 112, 0.8);

            i {
                pointer-events: none;
            }
        }
    }
}

.done {
    transition: all 0.2s ease;
    opacity: 0.3;
    text-decoration: line-through;
    text-decoration-thickness: 0.25rem;
}


/*透過@keyframes來設定動畫效果*/
@keyframes scaleUp {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

@keyframes scaleDown {
    to {
        transform: scale(0);
    }
}